.childOne {
  width: 75%;
  /* height: 65vh; */
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: auto;
}

.create {
  width: 75%;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 2%;
  margin: auto;
}

input {
  padding: 25px;
  text-align: left;
  height: 30px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 65%;
  border-bottom: 2px solid #8566aa;
  outline: none;
  margin-right: 20px;
}

.AddBtn {
  width: 40px;
  height: 45px;
  background-color: #7e57c2 !important;
  color: white !important;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border-radius: 50% !important;
}

.textFont {
  font-family: verdana;
  font-size: 20px;
  font-weight: 500;
}

.childTwo {
  width: 35%;
  height: 7vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: auto;
}

.delBtn {
  width: 100%;
  height: 7vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: auto;
}
