.chat-room-container {
  position: relative;
  max-height: 68vh;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;

}

.messages-container {
  height: 65vh;
  padding: 0;
  margin: 0;
  overflow: auto;
  border: 1px solid black;
  border-radius: 7px 7px 0 0;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.new-message-input-field {
  font-size: 10px;
  resize: none;
}

.message-item {
  margin: 8px;
  word-break: break-word;
  border-radius: 4px;
  color: white;
}

.my-message {
  background-color: rgba(0, 86, 167, 0.583);

}

.received-message {
  background-color: #3f4042;

}

.send-message-button {
  font-size: 9px;
  font-weight:120;
  color: white;
  background: #31a24c;
  border: none;
}

.messages-container, .new-message-input-field, .send-message-button {
  border-color: #9a9a9a;
}