

.chat-room-container {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  background-color: rgb(25, 25, 29);
  flex-direction: column;

}

.messages-container {
  height: 58vh;

  overflow: auto;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.new-message-input-field {
  background-color: rgb(12, 3, 20);
  font-size: 10px;
  color: white;
  resize: none;
}

.message-item {
  margin: 8px;
  word-break: break-word;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  color: rgb(1, 0, 5);
}

.my-message {
  background-color: rgba(0, 86, 167, 0.583);

}

.received-message {
  background-color: #3f4042;

}

.send-message-button {
  font-size: 14px;
  
  font-weight:120;
  color: white;
  background: #09070a;
  border: none;
}

.messages-container, .new-message-input-field, .send-message-button {
  border-color: #201850;
}