@charset "ISO-8859-1";

/* Container */
.signup-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	background-color: #FFF;
}


/* Side Navigation Bar */
.sidenav {
	height: 100%;
 	width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,35,51);
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav h1 {
  font-size: 28px;
	color: #FFFFFF;
	font-family: Bahnschrift;
	position: absolute;
  /*top: 30%;
  left: 50%;*/
  margin-top: 30%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}
.sidenav .line {
	border-radius: 25px;
 	background: rgb(0,255,132);
  padding: 6px;
  width: 150px;
  height: 1px;
	position: absolute;
  margin-top: 35%;
	margin-left: 50%;
	/*top: 37%;
	left: 50%;*/
}
.sidenav p {
  font-size: 16px;
	color: #FFFFFF;
	font-family: Bahnschrift;
	position: absolute;
  margin-top: 45%;
  margin-left: 50%;
  /*top: 45%;
  left: 50%;*/
  text-align: center;
  transform: translate(-50%, -50%);
}
.sidenav .signupbtn {
	position: absolute;
  margin-top: 60%;
  margin-left: 50%;
  /*top: 60%;
  left: 50%;*/
  transform: translate(-50%, -50%);
	font-size: 15px;
	font-weight: 700;
	font-family: Bahnschrift;
	color: rgb(0,35,51);
	border: none;
	border-radius: 10px;
	padding: 5px 60px;
  cursor: pointer;
	background-color: #FFF;
}

.content {
  position: relative;
  display: block;
  margin-top: 30%;
}


/* Form */
.signupform {
	margin-left: 30%;
	margin-top: 120px;
  padding: 0px 10px;
	background-color:#FFF;
}

.signupform h1 {
  font-size: 28px;
	color: rgb(0,35,51);
	margin-left: 45%;
	font-family: Bahnschrift;
}

.signupform input {
	margin-bottom: 15px;
	padding: 5px 10px;
	width: 60%;
	font-family: Times New Roman;
	font-size: 18px;
}

.signupform button {
	font-size: 18px;
	font-weight: 700;
	font-family: Bahnschrift;
	color: rgb(0,35,51);
	border: none;
	border-radius: 5px;
	padding: 8px 22px;
  cursor: pointer;
	width: 62%;
	background-color: rgb(0,255,132);
}

.signupform button:hover {
  color: #FFF;
}

.signupform hr {
  margin-left: 1%; 
  margin-bottom: 20px;
}


/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(0,35,51);
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  color: #FFF;
  font-size: 21px;
	font-weight: 700;
	font-family: Bahnschrift;
}

/* The Close Button */
.close {
  color: #FFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(0,255,132);
  text-decoration: none;
  cursor: pointer;
}