@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");


.ctrs{
    display: absolute;
    justify-content: space-evenly;
    width: 150px;
    margin: 0 auto;
    margin-top: 5px;
}

  
  p {
    font-size: 20px;
  }

button {
    outline: none;
    background: transparent;
    border: 1px solid blue;
    padding: 3px 3px;
    border-radius: 2px;
    color: blue;
    cursor: pointer;
  }
.stopwatch-card {
    position: absolute;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 70px;
    transform: translate(-50%, -50%);
  }