.video-container {
  padding: 0;
  margin: 0;
}

.root-container {
     
     background-color: pink;
}

.caller {
  background-color: black;
  z-index: 1;
  color: #000;
  margin: 0;
  padding: auto;
	text-align: center;
	color: #fff;
}

