.box1 {
  display: flex;
  flex-direction: row;
}
.img-hm {
  flex: 1.2;
}
.card {
  background-color: #747c9b;
  height: 100vh;
  width: 100vh;
  margin: 0;
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
.card-interview {
  background-color: #747c9b;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5%;
  border: #747c9b;
  box-shadow: #1973bc;
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover,
.offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.fill {
  --color: #a972cb;
  --hover: #cb72aa;
}

.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}

.close {
  --color: #ff7f82;
  --hover: #ffdc7f;
}

.raise {
  --color: #ffa260;
  --hover: #e5ff60;
}

.up {
  --color: #e4cb58;
  --hover: #94e458;
}

.slide {
  --color: #8fc866;
  --hover: #66c887;
}

.offset {
  --color: #19bc8b;
  --hover: #1973bc;
}
.bx-jnm {
  display: flex;
}
.inp-hm {
  flex: 1;
}
button {
  color: var(--color);
  transition: 0.25s;
}
button:hover,
button:focus {
  border-color: var(--hover);
  color: #fff;
}
.btn-meet {
  flex: 1;
}
button {
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 5px;
}

h1 {
  font-weight: 300;
}

code {
  color: #3a3003;
  font: inherit;
}

.inputWithButton {
  background-color: #fff;
  display: flex;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  align-items: center;
  overflow: hidden;
  width: 500px;
}
.inputWithButton .searchInpt {
  height: 100%;
  width: 100%;
  min-height: 60px;
  border: none;
  padding: 0 50px 0 20px;
  color: #6a6a6a;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.inputWithButton .searchInpt:focus {
  outline: none;
}
.inputWithButton .btnSearch {
  margin: 10px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.inputWithButton .btnSearch.btnOrange {
  background: #fd942b;
}
.inputWithButton .btnSearch.btnAqua {
  background: #0de8a6;
}
.inputWithButton .btnSearch .icon {
  margin-left: 10px;
  display: inline-flex;
}
.inputWithButton .item:first-child {
  flex-grow: 1;
}
