*, *::before *::after {
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
    margin: 0;
}

.container .ql-editor {
    width: 8.5in;
    height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    background-color: white;
}

.container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
}

.container .ql-toolbar.ql-snow 
{
    display: flex;
    position:absolute; 
    top: 0;
    width:  9.0in;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    border: none;
}